$tier-1-color: rgba(192, 192, 192, 0.7);
$tier-2-color: rgba(76, 195, 113, 0.7);
$tier-3-color: rgba(59, 170, 181, 0.7);
$tier-4-color: rgba(228, 60, 205, 0.7);
$tier-5-color: rgba(232, 136, 34, 0.7);
