
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-title {
  text-align: center;
  padding-top: 2rem;
  letter-spacing: .5rem;
  color: #9e6c36;
  font-size: 3rem;
}

.btn {
  text-align: center;
  font-weight: 1000;
  font-style: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  display: inline-block;
  background-color: #353551;
  border-width: 3px;
  cursor: pointer;
  border: 3px solid #9e6c36;
  color: #fff;
  padding: 1rem;
}

.select-random-container {
  padding: .5rem;
  border-width: 3px;
  position: absolute;
  margin-top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}


.select-random-container :hover {
  transition: all .5s ease;
  transform: scale(1.1);
  filter: brightness(130%);
}

.select-random-container :active {
  filter: brightness(130%);
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.champ-display-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
  flex-direction: row;
}

.champ-display {
  margin: 2px;
  padding: 10px;
  text-align: center;
  color: #353551;
  font-size: 2rem;
  max-width: 100%;
}

.champ-card-image {
  margin-top: 10px;
  border: 3px solid #9e6c36;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.champ-display :hover {
  transform: scale(1.1);
  transition: all .5s ease;
}

.champ_tier_1 {
  background-color: #847B6C;
}

.champ_tier_2 {
  background-color: #4CC371;
}

.champ_tier_3 {
  background-color: #3BAAB5;
}

.champ_tier_4 {
  background-color: #E43CCD;
}

.champ_tier_5 {
  background-color: #E88822;
}