* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-title {
  text-align: center;
  padding-top: 2rem;
  letter-spacing: .5rem;
  color: #9e6c36;
  font-size: 3rem;
}

.btn {
  text-align: center;
  font-weight: 1000;
  font-style: normal;
  letter-spacing: .1rem;
  text-transform: uppercase;
  display: inline-block;
  background-color: #353551;
  border-width: 3px;
  cursor: pointer;
  border: 3px solid #9e6c36;
  color: #fff;
  padding: 1rem;
}

.select-random-container {
  padding: .5rem;
  border-width: 3px;
  position: absolute;
  margin-top: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
}


.select-random-container :hover {
  transition: all .5s ease;
  transform: scale(1.1);
  filter: brightness(130%);
}

.select-random-container :active {
  filter: brightness(130%);
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.random-champ-display {
  display: inline-flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 15%;
}